{% for post in include.posts %}
  {% assign is_hidden = post.hidden | default: post.hide %}
  {% assign is_featured = post.featured | default: false %}
  {% if is_hidden != true and (include.hide_featured != true or is_featured != true) %}
    <a href="{{ post.url | relative_url }}" rel="bookmark" title="{{ post.title }}" itemprop="url" class="header-href">
      <article class="hentry">
        <h2 class="entry-title">{{ post.title }}</h2>
        <div class="entry-content" data-nosnippet>
          <span>【{{ post.date | date: "%Y-%m-%d" }}】</span>{{ post.summary }}
        </div>
      </article>
    </a>
  {% endif %}
{% endfor %}
