<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
{% include head.html %}

{% assign body_id = page.body_id | default: layout.body_id | default: page.layout %}
<body id="{{ body_id }}">
  {% include header.html %}

  {% if body_id == "post" %}
  <div class="reading-progress" aria-hidden="true">
    <div class="reading-progress-bar" id="J_reading_progress"></div>
  </div>
  {% endif %}
  
  <div id="main" role="main">
    {{ content }}
  </div>

  {% include search.html %}
  {% include footer.html %}
</body>
</html>
