<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
<head>
  {% include site-head.html %}
  <link rel="stylesheet" href="{{ '/styles/font.css' | relative_url }}">
  {% assign is_tag_page = false %}
  {% if page.url contains '/topics' or page.url contains '/archive' %}
    {% assign is_tag_page = true %}
  {% endif %}
  {% if is_tag_page %}
    <link rel="stylesheet" media="screen and (min-width: 600px)" href="{{ '/styles/tags.css' | relative_url }}">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="{{ '/styles/tags_mobile.css' | relative_url }}">
  {% else %}
    <link rel="stylesheet" media="screen and (min-width: 600px)" href="{{ '/styles/about.css' | relative_url }}">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="{{ '/styles/about_mobile.css' | relative_url }}">
  {% endif %}
  <link rel="stylesheet" media="screen and (min-width: 600px)" href="{{ '/styles/navigatebar.css' | relative_url }}">
  <link rel="stylesheet" media="screen and (max-width: 600px)" href="{{ '/styles/navigatebar_mobile.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/styles/custom.css' | relative_url }}">
</head>
<body>
  {% include target-nav.html %}
  <main role="main">
    {% if is_tag_page %}
      <div class="page-shell">
        <div class="title-area"><div class="title">{{ page.title }}</div></div>
        {{ content }}
      </div>
    {% else %}
      <div class="about">
        <div class="title-area"><div class="title">{{ page.title }}</div></div>
        {{ content }}
      </div>
    {% endif %}
  </main>
</body>
</html>
