.navigatebar-button a {
  white-space: nowrap;
}

.about h2 {
  color: #888;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 8px;
}

.about ul {
  list-style: disc;
  padding-left: 28px;
}

.about li {
  line-height: 1.8;
}

.about p,
.about li {
  color: #333;
}

.giscus-container {
  margin-top: 40px;
  border-top: 1px solid #ececec;
  padding-top: 24px;
}
